a:hover {
  border: dotted;
}

.fundoAzul {
  background-color: lightblue;
  color: grey;
}

.fundoVermelho {
  background-color: lightcoral;
  border: dashed;
}

p::first-letter {
  color: #FF0000;
  font-size: xx-large;
}

p::first-line {
  color : #0000FF;
  font-variant: small-caps;
}

p::selection {
  background-color: lightpink;
  color: green;
}